<h1>Sorcerertech Open Source</h1>
<h2>All our Open Source projects use a customised Adaptive Public License 1.0 - <a href="https://sorcerertech.bitbucket.io/licenses/APL/1.0.txt">Click here to get the license.</a></p>